@page
@model TodoModel
@{
    ViewData["Title"] = "todo";
}
<h1>@ViewData["Title"]</h1>
<ul data-cy="todo-list">
  @foreach (var todo in Model.Todos)
  {
    <li>@todo</li>
  }
</ul>
<form method="post">
  <input data-cy="add-todo" name="todo-text"/>
  <button data-cy="submit-todo" type="submit">Add</button>

  <button data-cy="clear-todos" type="submit" asp-page-handler="Clear">Clear</button>
</form>
